{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p id="banner">
    <img src="{% static 'app/content/colored_logo_large.png' %}" alt="banner" />
    <br />
</p>
<div class="block">
    <h3 class="about-sitename">Информация о создателях.</h3>
    <br />
    <div class="about-div-parent">
        <div class="about-div-child">
            <h3>Сергей Спицын</h3>
        </div>
        <p class="about-text">
            Создатель и автор онлайн-журнала. Выпускник-магистр технического вуза — Санкт-Петербургского 
            государственного электротехнического университета &laquo;ЛЭТИ&raquo; им. В.И.&nbsp;Ульянова (Ленина),
            инженер-разработчик перспективного навигационного оборудования по профессии. Задумался о создании 
            сайта с данной тематикой потому что всегда тяготел к искусству, в том числе и современному, но 
            изначально мало что в нём понимал. Было лишь желание разобраться. Теперь, понимая в нём чуточку больше,
            готов помочь всем, у кого есть аналогичное стремление.
        </p>
    </div>
    <div class="about-div-parent">
        <div class="about-div-child">
            <h3>Лилия Горшкова</h3>
        </div>
        <p class="about-text">
            Перспективная молодая художница, выпускница Санкт-Петербургской государственной 
            художественно-промышленной академии им.&nbsp;А.Л.&nbsp;Штиглица. Главный редактор, соратник, вдохновитель и 
            помощник во всём. Отвечает за отбор материалов, публикуемыхна сайте, помогает в наполнении статей, 
            указывает на события, которые следует осветить и на которые необходимо обратить внимание. Снабжает 
            создателя сайта, Сергея Спицына, полезной и интересной литературой и знаниями :)
        </p>
    </div>
</div>

{% endblock %}
