{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

{% include "app/includes/slider.html" %}

<div class="jumbotron">
    <h1>NewsArt</h1>
    <p class="lead">Портал новостей о современном искусстве.</p>
</div>

<div class="block">
    <h3 class="index-sitename">Интересует современное искусство? Тебе сюда!</h3>
    <p class="index-text">
        Немного истории.
    </p>
    <figure id="index-fig1">
        <p><img src="{% static 'app/content/reinar_forman_modnyi_prishelets.jpg' %}" alt="Reinar Forman - Модный пришелец" width="360" /></p>
        <figcaption>Рейнар Форман - Модный Пришелец (фрагмент). Холст, акрил, масло. 150х120 см, 2020</figcaption>
    </figure>
    <p class="index-text">
        В прошлом особо большое значение придавалось способности автора отражать сходство его произведений 
        на холсте, в дереве или камне с окружающим миром. Официальный портрет должен был передавать 
        максимальное сходство, а пейзажи — содержать характерные детали. Однако, после изобретения фотографии 
        многие художники отказались от &laquo;истинного&raquo; сходства, сделав выбор в пользу большой 
        непосредственности, в попытке отразить эмоциональную составляющую объекта. Зачастую «простая» линия 
        заменяла собой детальную прорисовку в работах ранних мастеров. С самого начала таких изменений в 
        художественных амбициях и по сей день критики-искусствоведы принимают отсутствие художественного 
        воображения, называя экспрессивные работы примитивными и детскими.
    </p>
    <p class="index-text">
        Создавая этот сайт, мы преследовали следующие главные цели:
        <ul class="index-text">
            <li>на примерах материалов сайта попытаться научить широкую аудиторию разбираться в том, чем
            на самом деле является современное искусство, а чем оно неявляется;</li>
            <li>популяризировать современное искусство во всех его проявлениях; </li>
            <li>осуществлять публикацию новостей из мира современного искусства.</li>
        </ul>
    </p>
    <p class="about-text">
        На нашем сайте вы найдёте самые интересные истории из мира современного искусства, а также регулярный 
        культурный гид по главным выставкам, фильмам и лекциям.
    </p>
    <p class="about-text">
        Ссылки на другие ресурсы по тематике сайта можете найти <a href="{% url 'links' %}">здесь</a>.
    </p>
</div>

{% endblock %}
